#header.without-bottom-border {
  border-bottom: none;
}

#content.no-top-widgets .content-wrap .container:first-child {
  margin-top: 0 !important;
}

.slider-caption-new h2 {
  //font-size: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 30px;
  color: #fff;
  text-shadow:
          -1px -1px 0 #808080,
          1px -1px 0 #808080,
          -1px 1px 0 #808080,
          1px 1px 0 #808080;
}

.slider-caption-new p {
  margin-bottom: 10px;
  //font-size: 30px;
  color: #fff;
  text-shadow: -1px -1px 0 #808080,
  1px -1px 0 #808080,
  -1px 1px 0 #808080,
  1px 1px 0 #808080;
}

@media (max-width: 991px) {
  #header #header-wrap .container {
      min-height: 100px;
  }
}

html.flex-footer {
  height: 100%;
  body {
    height: 100%;
    #wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      .wrapper-content {
        flex: 1 0 auto;
      }
      footer {
        flex: 0 0 auto;
      }
    }
  }
}

.showcase-widget-container,
.product-widget-container,
.custom-page-widget-container,
.blog-widget-container,
.category-widget-container{
  .showcase-widget{
    &.last-no-margin:last-child {
      margin-bottom: -30px !important;
    }
  }
}

// #7692 - 22
//@media (max-width: 767px) {
//  .scroll-down-block {
//    //display: block;
//    .scroll-btn {
//      //display: block;
//      top: -60px;
//      p {
//        font-size: 10px;
//        margin-bottom: 10px;
//      }
//      a.icon-double-angle-down {
//        font-size: 1.5em;
//      }
//    }
//  }
//}


.entry-meta li {
  float: left;
  font-size: 13px;
  line-height: 13px;
  margin: 0 10px 15px 0;
  color: #999;
  font-family: 'Roboto', serif;
  font-style: normal;
}

.clear-both {
  clear: both;
}

.postcontent,
.feature-box,
.entry-content,
.testi-content,
.testi-reply,
.showcase-widget .heading-block,
.showcase-widget .iconlist li,
.team-list .product-price,
.team-list .team-desc .iconlist,
.showcase-widget .category h4,
.accordion .acc_content,
.accordion .acctitle,
#modal-call-me-form .modal-header,
#modal-call-me-form .panel-heading,
#content p,
.select2-results__option,
.text-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

.help-error {
  color: #E42C3E;
}

span.content-date,
li.content-date {
  font-size: 12px;
  font-style: italic;
}

.container-sticky-bottom {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: 100px;
  z-index: 11;
  @media (max-width: 769px) {
    right: 20px;
  }
}

#top-cart {
  .top-cart-item-desc a:hover {
    color: #333 !important;
  }

  .top-cart-item-image:hover {
    border: 2px solid #EEE;
  }

  .top-checkout-striked-price {
    position: absolute;
    text-decoration: line-through;
    font-size: 14px;
    margin-top: -14px;
  }
}

.order-product-thumbnail {
  span.item-product-title {
    font-weight: bold;

    &:not(:last-of-type) {
      &:after {
        content: ', ';
      }
    }

    span.item-option {
      &:first-of-type:before {
        content: ' (';
      }

      &:not(:last-of-type):after {
        content: '; ';
      }

      &:last-of-type:after {
        content: ')';
      }
    }

  }
}

#top-cart {
  .top-cart-item-desc {
    p {
      display: block;
      position: relative;
      width: auto;
      height: auto;
      color: #333;
      margin: 0;
      line-height: 20px;
      transition: color .3s ease-in-out;
      padding-right: 15px;
      text-align: left;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

.dataTables_processing {
  height: auto;
}

.table.order {
  .order-name {
    min-width: 350px;
  }
}

.creator-integration-logo {
  text-align: center;
  padding: 20px 0 10px;
  &>img {
    max-height: 100px;
  }
}

.irs {
  .irs-slider {
    display: block;
    background-image: none;
    background-color: #fff;
    border-radius: 50%;
    border: #d6d6d6 solid 1px;
    &:before {
      display: block;
      position: relative;
      top: 6px;
      left: 6px;
      content: '';
      width: 8px;
      height: 8px;
      background-color: #99a4ac;
      border-radius: 50%;
    }
  }
}

.radio-style[disabled] {
  &, & + label {
    cursor: not-allowed;
  }
  & + label {
    opacity: 0.5;
  }
}

.button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.order-product-data {
  display: flex;
  align-items: center;
  height: auto;
  margin-bottom: 10px;

  .order-product-preview {
    width: 104px;

    [data-lightbox="gallery-item"]:not(:first-of-type) {
      display: none;
    }
  }

  .order-product-name {
    padding-left: 15px;
    flex: 1;
  }
}

ul.tinymce-list, ol.tinymce-list {
  margin-left: 20px;
  padding-left: 20px;
}

.tinymce-list li {
  padding-left: 6px;
}

a.faqtitle {
  width: 100%;
  font-size: 16px;
}
.block-text-align-j{
  text-align: justify;
}

.spost .entry-title h4 {
  font-size: 15px;
}

h1.faq-question-title {
  font-size: 24px;
}

h2.faq-another-questions {
  font-size: 18px;
}

.faq-filter {
  font-size: 15px;
}

.sidebar .widget.widget_links li a {
  font-size: 15px;
}
#page-title{
  h1{
    display:inline-block;
    width:auto !important;
    float:left;
    @media (max-width: 991px) {
      width:100% !important;
      text-align:center !important;
    }
  }
  .breadcrumb{
    display:inline-block;
    position:relative !important;
    text-align:right;
    float:right;
    width:auto !important;
    left:0px !important;
    right: auto !important;
    top:0px !important;
    margin-top:10px !important;
    padding-left:50px !important;
    &.text-left{
      padding-left:0px !important;
      padding-right:50px !important;
      float:left;
      margin-top:15px !important;
    }
    @media (max-width: 991px) {
      width:100% !important;
      margin-top:15px !important;
      text-align:center !important;
      padding-left:0px !important;
      padding-right:0px !important;
      &.text-left{
        padding-left:0px !important;
        padding-right:0px !important;
      }
    }
  }
}

#header .container {
  @media (max-width: 479px){
    width: auto !important;
    margin-left:15px;
    margin-right:15px;
  }
  @media (max-width: 767px) and (min-width: 480px){
    width: 470px !important;
  }
}
#top-search {
  a.phone{
    @media (max-width: 991px) {
      left: 45px;
    }
  }
}
body.top-search-open{
  a.phone{
    @media (max-width: 991px) {
      opacity: 0;
    }
  }
}
#top-search form input {
  @media (max-width: 991px){
    font-size: 16px;
  }
}
#loginRegisterModal{
  @media (max-width: 767px){
    .tabs{
      ul {
        li {
          margin-left:0;
          margin-right:0px;
        }
      }
    }
  }
}
@media (max-width: 479px){
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.timeline-with-center-line{
  @media (max-width: 767px){
    .clear-none{
      clear: none;
    }
    .entry-meta{
      height: auto;
      li {
        float:none;
        display:inline-block;
      }
    }
  }
  @media (min-width: 768px){
    .entry-meta {
      &::after {
        content: " ";
        display: table;
        clear: both;
      }
    }
  }
}

.spinner {
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.grecaptcha-badge {
  visibility: hidden!important;
  pointer-events: none!important;
  left: 0!important;
  right: auto!important;
  bottom: 64px!important;
  width: 70px!important;
  &:hover {
    width: 250px!important;
  }
}

.owl-carousel.owl-loading,
.preloader,
.preloader2,
.form-process {
  &:before {
    content: "\e6ce";
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: font-icons;
    speak: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    animation: rotation 1s linear infinite;
  }
}

div.dataTables_wrapper div.dataTables_processing {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.datatable-loader,
.account-tab-content-loader {
  text-align: center;
  padding: 40px;
  font-size: 24px;
}
